<td>
	<input id="name" type="text" placeholder="Variation Name" style="width:100%" value='<%= name %>'>
</td>
<td>
	<input id="url" type="text" placeholder="http://" style="width:100%" value='<%= url %>'>
</td>
<td>
	<select id="type">
	  <option value='visit' <%= type == 'visit' ? 'selected' : '' %>>Visit</option>
	  <option value='engagement' <%= type == 'engagement' ? 'selected' : '' %>>Engagement</option>
	  <!-- <option>click</option> -->
	</select>
</td>
<td>
	<% 
		if(status == 'created') print('Active');
		if(status == 'stopped') print('Stopped');
	%>
</td>
<td>
	<div class="btn-group">
	  	<a class="btn" id='primary-action'>
			<%
				if(status == 'created'){
			%>
			<i class="icon-ban-circle"></i> Disable
			<%	
				}
				if(status == 'stopped'){;
			%>
			<i class="icon-ok"></i> Activate
			<%	
				}
			%>
		</a>
	  	<a class="btn dropdown-toggle" data-toggle="dropdown">
	    	<span class="caret"></span>
	 	</a>
	  	<ul class="dropdown-menu">
	    	<li><a href='#' id="delete"><i class="icon-trash"></i> Delete</a></li>
	  	</ul>
	</div>
	<!-- <a class="btn" id='edit'><i class="icon-save"></i></a> -->
</td>