form.form-horizontal(action='/login', method='post')
	div.control-group
		label.control-label(for="username") Email Id
		div.controls
			input(type="text", name="username", placeholder="Email Id")
	div.control-group
		label.control-label(for="username") Password
		div.controls
			input(type='password', name='password', placeholder="Password")
	div.control-group
		label.control-label(for="username") 
		div.controls
			button.btn.btn-primary(type='submit') LOGIN