html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='lib/codemirror/codemirror.css', rel='stylesheet')
    
		include boot
    
		script(src="lib/codemirror/codemirror.js")
		script(src="lib/codemirror/mode/javascript/javascript.js")
	body
		include global-header
		div.container
			div.btn-group
				button.btn(id="undo") Undo
				button.btn(id="redo") Redo
				button.btn(id="script-btn") To Code
			div.btn-group
				button.btn(id="save") Save
		div(id="code-container")
			div(id="code-box")
		iframe(id="content-frame", style="width:100%; height:100%", src='/fetch?url=#{url}')
	script(src="/javascripts/bench.js")