html(lang='en')
	include common/head
	body
		include common/global-header
		.container(style='margin-top:20px')
			.row-fluid
				.span2.well
					ul.nav.nav-list(id='dashboard-nav')
						li.nav-header Actions
						li.active
							a(href='#', id='create-experiment') Create Experiment
						li
							a(href='#') Create Goal
						li.divider
						li.nav-header Resources
						li
							a(href='#', id='nav-experiments') Experiments
							ul.nav.nav-list
								li
									a(href='#', id='nav-ready-experiments') Ready
								li
									a(href='#', id='nav-running-experiments') Running
								li
									a(href='#', id='nav-stopped-experiments') Stopped
						li
							a(href='#') Goals
							ul.nav.nav-list
								li
									a(href='#') Active
								li
									a(href='#') Disabled
				.span10
					.container-fluid(id="dashboard-content", style='min-height:200px;')
		include common/global-footer 
	script(src="/js/dashboard.js")