html(lang='en')
	include common/head
	body
		include common/global-header
		.container(style='margin-top:20px')
			.row-fluid
				.span2.well
					ul.nav.nav-list
						li.nav-header Actions
						li.active
							a(href='#') Create Experiment
						li
							a(href='#') Create Goal
						li.divider
						li.nav-header Resources
						li
							a(href='#') Experiments
							ul.nav.nav-list
								li
									a(href='#') Running
								li
									a(href='#') Stopped
						li
							a(href='#') Goals
							ul.nav.nav-list
								li
									a(href='#') Active
								li
									a(href='#') Disabled
				.span10
					.container-fluid(id="split-experiment", style='min-height:200px;')
		include common/global-footer 
	script(src="/js/dashboard.js")