html(lang='en')
	include common/head
	body
		include common/global-header
		.container
			.row-fluid
				.span3.well
					ul.nav.nav-list(id='dashboard-nav')
						li.active
							a(href='#', id='reports') 
								i.icon-list
								|  Reports
						li.divider
						li.nav-header Actions
						li
							a(href='#', id='create-experiment') 
								i.icon-wrench
								|  Create Experiment
						li
							a(href='#', id='create-goal') 
								i.icon-file
								|  Create Goal
						li.divider
						li.nav-header Resources
						li
							a(href='#', id='nav-experiments') 
								i.icon-random
								|  Experiments
							ul.nav.nav-list
								li
									a(href='#', id='nav-ready-experiments') 
										i.icon-thumbs-up
										|  Ready
								li
									a(href='#', id='nav-running-experiments') 
										i.icon-play
										|  Running
								li
									a(href='#', id='nav-stopped-experiments') 
										i.icon-stop
										|  Stopped
						li
							a(href='#', id='nav-goals') 
								i.icon-road
								|  Goals
							ul.nav.nav-list
								li
									a(href='#', id='nav-active-goals') 
										i.icon-ok
										|  Active
								li
									a(href='#', id='nav-disabled-goals') 
										i.icon-ban-circle
										|  Disabled
				.span9
					.container-fluid(id="dashboard-content", style='min-height:200px;')
		include common/global-footer 
	script(src="/js/dashboard.js")