div(id='login-box-container')
div(id='forgot-box-container')
#global-header
header
	.container
		.row
			.span4
				.logo
					h1
						a(href='/') #{domain_name}
			.span3.offset5
				.list
					.email
						i.icon-envelope-alt
						| Email: #{support_id}
//
	Note down the syntax before editing. It is the default twitter bootstrap navigation 
.navbar
	.navbar-inner
		.container
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				| Menu
			.nav-collapse
				ul.nav
					li
						a(href='/') Home
					li
						a(href='/') Features
					li
						a(href='/') Getting Started
					li
						a(href='/') Support
//
	Navigation Ends 
