!!! 5
html(lang='en')
	include common/head
	body
		include common/global-header
		.content
			.container
				.row
					.span12
						.main-content
							.row
								.span7
									h2 What is A/B Testing?
									p
										| A/B testing is a simple way of comparing two or more versions of a web-page in order to find which has better response rate or convertion rate.
										| Visitors on a A/B test will be distributed across various versions including the control (e.g. original), to see which single version is most effective in increasing a response rate or other desired outcome.
									h2 Who needs A/B Testing?
									p
										| If you own or manage a website that directly or indirectly generates or affects revenues for you or your business than you need to do A/B Testing.
								.span5
									.main-box
										h4 Features
										p
											| Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Etiam adipiscing posuere justo, nec iaculis justo dictum non.
										ul
											li Cras tincidunt mi non arcu	eleifend
											li Aenean ullamcorper justo	diam faucibus
											li Maecenas hendrerit neque id ante	mattis
						.cta
							.row
								.span8
									p.cbig Increase response rates, convertions and revenues on you website.
									p.csmall
										| You don't need to have any knowledge of HTML and web design. And as of now it's 
										strong free.
								.span2
									buttom.btn.btn-large.btn-primary(href='#', style='color:#fff') GET STARTED
						.row
							.span3
								.afeature
									.afmatter
										i.icon-cloud
										h4 Nulla ullamcorper
										p
											| Praesent at tellus porttitor	sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula.
							.span3
								.afeature
									.afmatter
										i.icon-home
										h4 Praesent at tellus
										p
											| Praesent at tellus porttitor	sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula.
							.span3
								.afeature
									.afmatter
										i.icon-gift
										h4 Nulla ullamcorper
										p
											| Praesent at tellus porttitor sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula.
							.span3
								.afeature
									.afmatter
										i.icon-user
										h4 Mauris tempor
										p
											| Praesent at tellus porttitor	sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula.
						//
							Features ends 
						.bor

		//
			Content ends
		include common/global-footer

script(src="/js/index.js")
