html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		
		title Yet another AB Testing Tool
		include boot
	body
		include global-header
		div.well.container
			form.form-inline(action="/bench")
				input.input-large(type='text', id="url-box", name="url", placeholder="Your URL") 
				&nbsp;
				button.btn.btn-primary Submit
	script(src="/javascripts/index.js")
	