div.modal.hide.fade(id="loginBox", tabindex="-1", role="dialog")
	div.modal-header
		button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
		h3(id="myModalLabel") LOGIN
	div.modal-body
		form.form-horizontal(id='login-form', action='/login', method='post')
			div.control-group
				label.control-label(for="username") Email Id
				div.controls
					input(type="text", id="email-field", placeholder="Email Id")
			div.control-group
				label.control-label(for="username") Password
				div.controls
					input(type='password', id='password-field', placeholder="Password")
	div.modal-footer
		button.btn(data-dismiss="modal", aria-hidden="true") Close
		button.btn.btn-primary(id='login-form-submit-btn') LOGIN