html(lang='en')
	include common/head
	script(type="text-template", id="recover-box-template")
		|		<div class="title">
		|			<h4>Generate a New Password</h4>
		|		</div>
		|		<div class="form">
		|			<form class="form-horizontal" id='login-form'>
		|				<div class="p-modal-body">
		|					<div class="alert alert-error" id='recover-alert' style='display:none;'></div>
		|					<input type="hidden" id="email-field"/>
		|					<div class="control-group">
		|						<label class="control-label" for="new-password">New Password</label>
		|						<div class="controls">
		|							<input type="password" id="new-password" placeholder="New Password" />
		|						</div>
		|					</div>
		|					<div class="control-group">
		|						<label class="control-label" for="retype-password">Retype Password</label>
		|						<div class="controls">
		|							<input type='password' id='retype-password' placeholder="Retype Password" />
		|						</div>
		|					</div>
		|				</div>
		|				<div class="form-actions">
		|					<a class="btn btn-primary" id='recover-submit-btn'>SUBMIT</a>
		|					<a type="button" data-dismiss="modal" class="btn btn-danger">CANCEL</a>
		|				</div>
		|			</form>
		|		</div>
	body
		include common/global-header
		div.container
			div.alert.alert-block(id='message', style='display:none;')
			div.respond.well.span6(id="recover-box")
			
	include common/global-footer 
	script(src="/js/recover.js")
	script(src="/js/index.js")