!!! 5
html(lang='en')
	include common/head
	body
		include common/global-header
		header
			.container
				.row
					.span4
						.logo
							h1
								a(href='/') Accredor
					.span3.offset5
						.list
							.email
								i.icon-envelope-alt
								| Email: sourabh@accredor.com
		.container
			.row
				.span12
					.csoon
						.row
							.span12
								.csoon-page
									p.soon-med We are on the way...
									p.soon-big
										| Coming Soon
										span.color !!!
									p.soon-small
										| We are trying very hard to bring you a product that is going to bring a lot of value to your business. Leave us your email id and we will let you know when we are ready
									.soon-subscribe(id='subscribe-box')
										form.form-search
											input(type='text', placeholder='Enter your email', id='subscribe-email')
											&nbsp;&nbsp;
											button.btn.btn-large(type='button', id='subscribe-btn') Subscribe
script(src="/js/soon.js")
script(type='text/javascript')
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-37090636-1']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
