!!! 5
html(lang='en')
	include common/head
	body
		include common/global-header
		div.container
			div.alert.alert-block(id='message', style='display:none;')
	include common/global-footer 
	script(src="/js/verify.js")
	script(src="/js/index.js")