!!! 5
html(lang='en')
	include ../common/head
	body
		include ../common/global-header
		.content
			.container
				.row
					.span10.offset1
						.hero
							h1
								span What is A/B Testing?
							p
						.row
							.span10
								blockquote
									p
										| A/B testing or split testing is an experimental approach to web design (especially user experience design), 
										| which aims to identify changes to web pages that increase or maximize an outcome of interest 
										| (e.g., click-through rate for a banner advertisment). As the name implies, two versions (A and B) are compared, 
										| which are identical except for one variation that might impact a user's behavior. 
										| Version A might be the currently used version, while Version B is modified in some respect. 
									small Wikipedia
								p.lead
									| In other words, It is a method of comparing different design or feature ideas against your current design and features
									| to determine which one produces better results by measuring user response. 
									| It is a method of validating any changes that you plan to do with minimal impact on your business.
									| It helps you ditch guess work and take Data-Driven decisions.
								p.lead
									| #{domain_name} enables you to quickly create and test your experiments and track user response. You can stop worrying about 
									| business impact of a change that just went live on your website. You can stop worrying about how would you rollback
									| without avoiding downtime incase your new design doesn't fly. You can instead, spend time on improving your design further.
		include ../common/global-footer   
