link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')

link(href='/lib/bootstrap/css/bootstrap.css', rel='stylesheet')
link(href='/lib/bootstrap/css/bootstrap-responsive.css', rel='stylesheet')

link(href='/lib/ericka/style/flexslider.css', rel='stylesheet')
link(href='/lib/ericka/style/prettyPhoto.css', rel='stylesheet')
link(href='/lib/ericka/style/font-awesome.css', rel='stylesheet')
link(href='/lib/ericka/style/font-awesome-ie7.css', rel='stylesheet')
link(href='/lib/ericka/style/style.css', rel='stylesheet')
link(href='/lib/ericka/style/blue.css', rel='stylesheet')

link(href='/css/abt.css', rel='stylesheet')

script(src='/lib/jquery-ui/js/jquery-1.8.2.js')
script(src='/lib/jquery-ui/js/jquery-ui-1.9.0.custom.js')
script(src='/lib/spin.min.js')
script(src='/lib/jquery.spin.js')
script(src='/lib/utils/jquery.cookie.js')
script(src='/lib/backbone/underscore.js')
script(src='/lib/backbone/backbone.js')
script(src='/lib/backbone/backbone.localStorage.js')
script(src='/lib/bootstrap/js/bootstrap.js')

script(src='lib/ericka/js/html5shim.js')

script(src="/js/lang/en.js")
script(src='/js/common/template_loader.js')
script(src="/js/common/utils.js")
script(src="/js/common/init.js")

script(src='/js/views/base_view.js')
script(src="/js/views/base_login_view.js")
script(src="/js/views/login_box_view.js")
script(src="/js/views/signup_view.js")
script(src="/js/views/forgot_view.js")
script(src="/js/views/header_view.js")
script(src="/js/views/global_header_view.js")
script(src="/js/views/dashboard_header_view.js")
script(src="/js/views/split_experiment_view.js")
script(src="/js/views/experiments_list_view.js")
script(src="/js/views/goals_list_view.js")