footer
	.container
		.row
			.span4
				.widget
					h4 The Product
					ul
						li
							a(href='#') Features
						li
							a(href='#') Benefits
						li
							a(href='#') What Next?
			.span4
				.widget
					h4 Useful Links
					ul
						li
							a(href='#') What is A/B Testing?
						li
							a(href='#') Getting Started
						li
							a(href='#') FAQs
						li
							a(href='/terms') Terms of Service
						li
							a(href='/privacy-policy') Privacy Policy
			.span4
				.widget
					h4 About
					ul
						li
							a(href='#') About Us
						li
							a(href='#') Contact Us
			.span12
				hr
				p.copy
					| Copyright &copy; 
					a(href='http://#{domain}') #{domain}

script(src='/lib/ericka/js/jquery.flexslider-min.js')
script(src='/lib/ericka/js/jquery.isotope.js')
script(src='/lib/ericka/js/jquery.prettyPhoto.js')
script(src='/lib/ericka/js/filter.js')
script(src='/lib/ericka/js/jquery.tweet.js')
script(src='/lib/ericka/js/custom.js')

script(type='text/javascript')
	/* Flex Slider */
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation: "slide",
			controlNav: true,
			pauseOnHover: true,
			slideshowSpeed: 15000
		});
	});