html(lang='en')
head
	meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
	meta(charset='utf-8')
	title #{domain_name} : Yet another A/B Testing Tool
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='description', content='A free tool to create and run A/B tests on a website. No Web development, HTML or CSS knowlodge is required.')
	meta(name='keywords', content='A/B Testing, Multivariate Testing, Splitter Test, Free, Service')
	meta(name='author', content='#{domain}')
	include boot