<div class="row-fluid" id='contact-alert' style='display:none;'>
	<div class="span12">
		<div class="alert"></div>
	</div>
</div>
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input type="text" id="name" placeholder="Name" required/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input type="text" id="email" placeholder="Email" required/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="url">Query or Feedback</label>
    <div class="controls">
      <textarea id='message' rows="6"></textarea>
    </div>
  </div>
  <div class="form-actions">
	  <a type="button" class="btn" id='submit-btn'>Submit</a>
	  <a type="button" class="btn" id='reset-btn'>Reset</a>
  </div>
</form>