<div class="top-bar top-bar-margin">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<div class="logo">
					<h1 style="color:#eee"><a href='/' style='color:#fff; text-decoration:none;'>accredor</a></h1>
				</div>
			</div>
			<div class="span7">
				<ul class="nav nav-pills">
					<li><a href="/dashboard">Dashboard</a></li>
					<li><a href="#">Features</a></li>
					<li><a href="/getting-started">Getting Started</a></li>
					<li><a href="#installation-modal" id='installation-link' data-toggle="modal">Installation</a></li>
					<li><a href="/faqs">Support</a></li>
				</ul>
			</div>
			<div class="span3">
				<ul class="nav nav-pills">
				<% if(typeof(auth) == 'undefined' || auth == false){ %>
					<li class="pull-right">
						<a href="#" id='login-btn'>LOGIN</a>
					</li>
					<li class="pull-right">
						<a href="#" id='signup-btn'>SIGNUP</a>
					</li>
				<% }else{ %>
					<li class="pull-right">
						<a href='/logout'>LOGOUT</a>
					</li>
				<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="installation-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3>Accredor Installation</h3>
  </div>
  <div class="modal-body">
    <p>
		<p>Copy this code and paste it immediately after the opening of the &lt;head&gt; tag:</p>
		<p><code>&lt;script src=&quot;//www.accredor.com/scripts/<%= filename %>.js&quot;&gt;&lt;/script&gt;</code></p>
		<p>Include this line on every page you want to run experiments on and track as a goal.</p>
		<p>This line will not change for you account.</p>
	</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>