<div class="top-bar top-bar-margin">
	<div class="container">
		<div class="row">
			<div class="span2">
				<div class="logo">
					<h1 style="color:#eee"><a href='/' style='color:#fff; text-decoration:none;'>accredor</a></h1>
				</div>
			</div>
			<div class="span7">
				<ul class="nav nav-pills">
					<li><a href="/dashboard">Dashboard</a></li>
					<li><a href="#">Features</a></li>
					<li><a href="#">Getting Started</a></li>
					<li><a href="#" id='installation-link'>Installation</a></li>
					<li><a href="/faqs">Support</a></li>
				</ul>
			</div>
			<div class="span3">
				<ul class="nav nav-pills">
				<% if(typeof(auth) == 'undefined' || auth == false){ %>
					<li class="pull-right">
						<a href="#" id='login-btn'>LOGIN</a>
					</li>
					<li class="pull-right">
						<a href="#" id='signup-btn'>SIGNUP</a>
					</li>
				<% }else{ %>
					<li class="pull-right">
						<a href='/logout'>LOGOUT</a>
					</li>
				<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>