<div class="modal respond well" id="forgot-box" tabindex="-1" role="dialog">
	<div class="title">
		<h4>Forgot Password</h4>
	</div>
	<div class="form">
		<div class="alert alert-error" id='forgot-alert' style='display:none;'></div>
		<form class="form-horizontal" id='forgot-form'>
			<div class="p-modal-body">
				<div class="control-group">
					<label class="control-label" for="username">Email Id</label>
					<div class="controls">
						<input type="text" id="forgot-email-field" placeholder="Email Id" />
					</div>
				</div>
			</div>
			<div class="form-actions">
				<a class="btn btn-success" id='forgot-submit-btn'>Recover Password</a>
				<a type="button" data-dismiss="modal" class="btn btn-danger">CANCEL</a>
			</div>
		</form>
	</div>
</div>