<div class="top-bar">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="offset9 span3">
				<ul class="nav nav-pills">
				<% if(typeof(auth) == 'undefined' || auth == false){ %>
					<li class="pull-right">
						<a href="#" id='login-btn'>LOGIN</a>
					</li>
					<li class="pull-right">
						<a href="#" id='signup-btn'>SIGNUP</a>
					</li>
				<% }else{ %>
					<li class="pull-right">
						<a href='/logout'>LOGOUT</a>
					</li>
				<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>
<header>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span4">
				<div class="logo">
					<h1><a href="/">accredor</a></h1>
				</div>
			</div>
			<div class="span3 offset5">
				<div class="list">
					<div class="email">
						<i class="icon-envelope-alt"></i>
						Email: sourabh@accredor.com
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">Menu</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="#">Features</a></li>
					<li><a href="/getting-started">Getting Started</a></li>
					<li><a href="/faqs">Support</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>