<div class="row-fluid">
	<div class="span12">
		<div class="span3">
			<input id="name" type="text" placeholder="Variation Name" style="width:100%" value='<%= name %>'>
		</div>
		<div class="span6">
			<input id="script" type="text" placeholder="http://" style="width:100%" value='<%= script %>'>
		</div>
		<div class="span1">
			<input id="percent" type="text" style="width:100%" value='<%= percent %>'>
		</div>
		<div class="span1">
			<% if(!isControl){ %>
			<a href="#" class="delete">Delete</a>
			<% } %>
		</div>
		<div class="span1">
			<% if(status && status.isError){ %>
			<span class="text-error"><%= status.message %></span>
			<% }else{ %>
			<span class="label label-success">Saved</span>
			<% } %>
		</div>
	</div>
</div>