h1 Welcome to #{domain_name}
p
  | Thank you for Signin Up. Please click the below link or paste it in your browser address bar to verify your account :
  br
  a(href="#{url}", target="_blank") #{url}