input[type="text"], input[type="password"]{
	height:30px;
}

header{
	padding-top : 5px;
}

header .list{
	top : -5px;
}

.top-bar{
	background:#444; 
	color:#fff;
	height : 53px;
	margin-bottom : 20px;
}

.top-bar ul{
	margin:10px 15px 5px 5px;
}

[class^="icon-"], [class*=" icon-"]{
	background:none!important;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
    line-height: 1.3em!important;
}

li [class^="icon-"], .btn [class*=" icon-"] {
    line-height: 1.3em!important;
}

.faq .accordion-heading i{
	line-height : 29px!important;
}

.dropdown-toggle {
    height: 20px;
}

.dropdown-menu a {
    color: #333333;
}